<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- DaisyUI and Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- SimpleMDE Markdown Editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='/static/fullcalendar/main.css' rel='stylesheet'/>
    <script src='/static/fullcalendar/main.js'></script>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<div class="container mt-3" style="height: auto !important;">
    <div class="row" style="height: auto !important;">
        <!-- Main Content -->
        <div class="col-sm-12 col-md-9 col-lg-10 p-2">
            <!-- Content Block -->
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
</div>
<th:block layout:fragment="script"></th:block>
</body>
<script th:inline="javascript">

    function check(){
    const aa = /*[[${#authentication}]]*/null

    console.log(aa);
   }

     document.addEventListener('DOMContentLoaded', function() {
 // 페이지 로드 시 로그인 여부를 확인하고 웹소켓에 연결
     check();
 });

</script>
</html>